@model CompanyManagement.Data.Models.Office

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Office</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHeadquarters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHeadquarters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Documents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Documents)
        </dd>

    </dl>
</div>
<h4>Employees</h4>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Experience</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExperienceLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Employees", new { id = item.Id, companyId = item.CompanyId }, new { }) |
                @Html.ActionLink("Details", "Details", "Employees", new { id = item.Id }, new { }) |
                @Html.ActionLink("Delete", "Delete", "Employees", new { id = item.Id, officeId = item.OfficeId }, new { })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, companyId = Model.CompanyId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Details", "Companies", new { id = Model.CompanyId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Create Employee", "Create", "Employees", new { officeId = Model.Id, companyId = Model.CompanyId }, new { @class = "btn btn-primary" })
</p>
